<div id="formIesire" class="big-form">
  <div>
    <div class="w2ui-field">
        <label for="nr_inregistrare">Numar Inregistrare:</label>
        <div>
            <input type="text"  name="nr_inregistrare" id="nr_inregistrare" readonly>
        </div>
    </div>
    <div class="w2ui-field">
        <label for="data_expediere">Data Expediere:</label>
        <div>
            <input type="text"  name="data_expediere" id="data_expediere">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="mod_rezolvare">Mod rezolvare:</label>
        <div>
            <textarea  name="mod_rezolvare" id="mod_rezolvare"></textarea>
        </div>
    </div>
    <div class="w2ui-field">
        <label for="observatii">Observatii:</label>
        <div>
            <textarea  name="observatii" id="observatii"></textarea>
        </div>
    </div>
<div class="w2ui-field">
    <label>Destinatar</label>
    <div>
            <textarea name="destinatar" id="destinatar"></textarea>
        </div>
    </div>
    <div class="w2ui-field">
        <label for="indicativ">Indicativ:</label>
        <div>
            <input type="text" name="indicativ" id="indicativ">
        </div>
    </div>
    <div class="w2ui-field">
        <label for="legatura_intrare">Legatura intrare:</label>
        <div>
            <input type="text" name="legatura_intrare" id="legatura_intrare">
        </div>
    </div>
</div>
<!-- <hr> -->
<!-- <div class="w2ui-buttons">
    <button class="w2ui-btn w2ui-btn-blue" id="btnSave" name="save">Salveaza</button>
    <button class="w2ui-btn w2ui-btn-red" id="btnCancel" name="cancel">Renunta</button>
</div> -->
</div>
