<div id="formBeneficiari" class="big-form">
  <div>
    <div class="w2ui-field">
        <label for="denumire_beneficiar">Denumire:</label>
        <div>
            <input type="text" size="30" name="denumire_beneficiar" id="denumire_beneficiar">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="adresa2">Adresa:</label>
        <div>
            <textarea name="adresa2" id="adresa2"></textarea>
        </div>
    </div>

    <div class="w2ui-field">
        <label for="telefon">Telefon:</label>
        <div>
            <input size="30" type="text" name="telefon" id="telefon">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="fax">Fax:</label>
        <div>
            <input type="text" size="30" name="fax" id="fax">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="email">Email:</label>
        <div>
            <input type="email" size="30" name="email" id="email">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="reprezentant">Reprezentant:</label>
        <div>
            <input type="text" size="30" name="reprezentant" id="reprezentant">
        </div>
    </div>
    <div class="w2ui-field">
        <label for="reprezentant_legal">Reprezentant legal:</label>
        <div>
            <input type="text" size="30" name="reprezentant_legal" id="reprezentant_legal">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="calitate">Calitate:</label>
        <div>
            <input type="text" size="30" name="calitate" id="calitate">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="nr_registru_comertului">Nr. Reg. Comert:</label>

        <div>
            <input type="text" size="30" name="nr_registru_comertului" id="nr_registru_comertului">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="atribut_fiscal">Atribut fiscal:</label>

        <div>
            <input type="text" size="30" name="atribut_fiscal" id="atribut_fiscal">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="cod_fiscal">CUI:</label>

        <div>
            <input type="text" size="30" name="cod_fiscal" id="cod_fiscal">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="cont">Cont:</label>

        <div>
            <input type="text" size="30" name="cont" id="cont">
        </div>
    </div>

    <div class="w2ui-field">
        <label for="banca">Banca:</label>

        <div>
            <input type="text" size="30" name="banca" id="banca">
        </div>
    </div>
</div>
</div>
