<div style="padding:10px">
    <h4>Aplicatie Cereri C.I.V.</h4>
    <ul style="list-style-type:none">
        <li>
            <label>Programator: Cristian Mardare</label>
        </li>
        <li>
            <label>Detinator: RAR-DTIC</label>
        </li>
        <li>
            <label>Contact:</label>
            <ul>
                <li>Tel: 0721 298 782</li>
                <li>Email: cristian.mardare@rarom.ro</li>
            </ul>
        </li>
        <li>
            <label>Versiune: {{version}}</label>
        </li>
</div>
