<div id="settingsForm">
<div class="w2ui-page page-0">
    <div class="w2ui-field">
        <label> Activeaza proxy:</label>
        <div>
            <input type="checkbox" name="enabled" id="enabled" />
            <span class="check"></span>
        </div>
    </div>
    <div class="w2ui-field">
        <label> Protocol(http/https):</label>
        <div>
            <input type="text" name="proxy_protocol" id="proxy_protocol" class="proxydata form-control" disabled="disabled" />
        </div>
    </div>
    <div class="w2ui-field">
        <label> User:</label>
        <div>
            <input type="text" name="proxy_user" id="proxy_user" class="proxydata form-control" disabled="disabled" />
        </div>
    </div>
    <div class="w2ui-field">
        <label> Password:</label>
        <div>
            <input type="password" name="proxy_pass" id="proxy_pass" class="proxydata form-control" disabled="disabled" />
        </div>
    </div>
    <div class="w2ui-field">
        <label> Adresa(ip):</label>
        <div>
            <input type="text" name="proxy_address" id="proxy_address" class="proxydata form-control" disabled="disabled" />
        </div>
    </div>
    <div class="w2ui-field">
        <label> Port:</label>
        <div>
            <input type="text" name="proxy_port" id="proxy_port" class="proxydata form-control" disabled="disabled" />
        </div>
    </div>
</div>
<div class="w2ui-buttons">
    <button class="w2ui-btn w2ui-btn-blue" name="save">Save</button>
    <button class="w2ui-btn w2ui-btn-green" name="check">Verifica conexiunea</button>
      <button class="w2ui-btn w2ui-btn-red" name="reset">Inchide</button>
</div>
</div>
