    <div>
    <div class="w2ui-field" name="rfcontainer">
        <label>Fata(Anvelopa/Janta):</label>
        <div>
            <input type="text"  name="id_roataf" id="Anvelope_{{index}}__id_roataf"/>
        </div>
    </div>
    <div class="w2ui-field" name="rscontainer" >
        <label>Spate(Anvelopa/Janta):</label>
        <div>
            <input type="text"  name="id_roatas" id="Anvelope_{{index}}__id_roatas"/>
        </div>
    </div>
    </div>
    <div style="float: right; margin-top: -50px;">
        <button class="w2ui-btn w2ui-btn-red btn-icon-only btnDelAnvelopa" ><i class="w2ui-icon-cross"></i></button>
    </div>
