<div style="overflow:auto;width:100%;height:100%;padding: 20px">
	<p>Atentie! Anvelopele optionale se vor prelua la CIV in ordinea introducerii acestora si in limita numarului de mentiuni posibil.<br>
		In cazul in care doriti sa configurati manual anvelopele optionale, apasati butonul "Anvelope Optionale". 
	</p>
<p>
	<div style="display:inline-block"><label >WVTA:</label><div><input type="text" id="wvta" /></div></div>
	<div style="display:inline-block"><label >Extensie:</label><div><input type="text" id="extensie" /></div></div>
	<div style="display:inline-block"><label >Tip:</label><div><input type="text" id="tip" /></div></div>
	<div style="display:inline-block"><label >Varianta:</label><div><input type="text" id="varianta" /></div></div>
	<div style="display:inline-block"><label >Versiune:</label><div><input type="text" id="versiune" /></div></div>
</p>

<div id="vehicles" style="height:500px"></div>
<div id="validationSummary" style="color:red"></div>
<p>
	<button name="back" id="back" class="w2ui-btn"><i class="w2ui-icon-signout"></i> Inapoi la lista</button>
</p>
</div>
